@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Redex', 'Inter', sans-serif;
  height: 100%;
  width: 100%;
  background: #1a1a1a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}
